.side-bare {
  background-color: white;
  width: 235px;
  padding: 2px 0;
  height: 100%;

  &__container {
    width: 100%;

    &:not(:first-child) {
      border-top: 1px solid $light-grey;
    }
  }

  &__title {
    padding: 18px 14px;
    font-size: 12px;
    font-weight: $bold-weight;
  }

  &__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

    button {
      position: relative;
      width: 100%;

      display: flex;
      align-items: center;
      text-align: left;
      padding: 15px 15px 15px 30px;
      border: none;
      outline: none;

      background-color: white;
      color: $dark-grey;
      cursor: pointer;

      transition: 0.2s;

      :first-child {
        margin-right: 12px;
      }

      &:hover {
        background-color: #fafafa;
      }

      &.active {
        font-weight: $bold-weight;
        padding-left: 26px;
        border-left: 4px solid $blue;
        background-color: #efefef;
      }

      .chevron-right-icon {
        margin-left: auto;
      }

      &.active .chevron-right-icon {
        transform: rotate(90deg);
      }
    }
  }

  &__dropdown {
    max-height: 0;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  &__upgrade {
    width: 90%;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px 40px;
    background-color: $light-grey;

    color: $dark-grey;
    text-align: center;

    svg {
      margin-bottom: 11px;
    }

    h4 {
      line-height: 21px;
      margin-bottom: 6px;
    }

    p {
      line-height: 21px;
      margin-bottom: 20px;
    }

    a {
      background: $blue;
      border-radius: 5px;
      padding: 5px 10px;

      font-weight: 500;
      text-align: center;
      text-decoration-line: underline;

      color: #ffffff;

      &:hover {
        color: $light-blue;
      }
    }
  }
}
