.reports {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.report {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 261px;
  height: 131px;
  color: white;

  transition: 0.2s;

  &__title {
    font-weight: $bold-weight;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: $bold-weight;
    font-size: 32px;
  }

  &__bottom-content {
    display: flex;
    justify-content: space-between;
  }

  &.blue {
    background: $blue-gradient;
  }
  &.green {
    background: $green-gradient;
  }
  &.orange {
    background: $orange-gradient;
  }
  &.red {
    background: $red-gradient;
  }
}
