$body-color: #f6f7fb;

//colors
$blue: #4099ff;
$dark-blue: #215085;
$light-blue: #d9ebff;
$grey: #6c757d;
$dark-grey: #666666;
$light-green: #d5f7f0;
$green: #2ed8b6;
$dark-green: #18705f;
$light-red: #ffdde2;
$red: #ff5370;
$dark-red: #852b3a;
$light-orange: #fff0db;
$orange: #ffb64d;
$dar-orange: #855f28;
$lite-coral: #ccf2f6;
$coral: #00bcd4;
$dark-coral: #00626e;
$light-dark: #d6d8d9;
$dark: #383d41;
$light-black: #383d41;
$black: #343a40;
$white: #f8f9fa;

//backgrounds
$blue-gradient: linear-gradient(90deg, #4099ff 3.07%, #73b4ff 100%);
$green-gradient: linear-gradient(90deg, #2ed8b6 0%, #59e0c5 100%);
$orange-gradient: linear-gradient(90deg, #ffb64d 0%, #ffcb80 100%);
$red-gradient: linear-gradient(90deg, #ff5370 0%, #ff869a 100%);
$coral-gradient: linear-gradient(90deg, #00bcd4 0.02%, #08e3ff 100.63%);

//font
$bold-weight: 600;
